body { 
  margin: 0;
  font-family: roboto;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 19px; 
  line-height: 25px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 26px;
  font-weight: bold;
}

.header a:hover {
  background-color: #dddddd;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header a.active:hover {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

h2 {
  text-align: center;
}
